%tr
  %td.maturity-cell
    = image_tag "/images/maturity/planned.svg"
  %td
    #{content_tag(:b, "Planned")}: Not yet implemented in GitLab, but on our roadmap.
%tr
  %td.maturity-cell
    = image_tag "/images/maturity/minimal.svg"
  %td
    #{content_tag(:b, "Minimal")}: Available in the product, and works in the recommended setup. Has utility to the user, but does not completely address the job-to-be-done, yet. Not to be used as a primary selling point, as capabilities are minimal. Suitable to replace the need for existing tools for new companies, departments, and teams.
%tr
  %td.maturity-cell
    = image_tag "/images/maturity/viable.svg"
  %td
    #{content_tag(:b, "Viable")}: Significant use at GitLab the company.
    = link_to "CM Scorecard", "/handbook/product/ux/category-maturity/category-maturity-scorecards/"
    at least 3.14 for the
    = link_to "job to be done (JTBD)", "/handbook/product/ux/ux-resources/#jobs-to-be-done-jtbd"
    when tested with internal users. No assessment of related jobs to be done. Suitable to replace the need for existing tools for new namespaces, projects, and environments. Meets the design requirements for
    = link_to "General Availability (GA)", "https://docs.gitlab.com/ee/policy/experiment-beta-support.html#generally-available-ga"
    and usability status has a grade of C average.
%tr
  %td.maturity-cell
    = image_tag "/images/maturity/competitive.svg"
  %td
    #{content_tag(:b, "Competitive")}: Our experiences not only need to solve user needs, but this is where we start measuring solutions against our competitors. At least 100 customers use it. GitLab scores equal or best-in-class applying the #{link_to 'competitive add-on evaluation', 'https://handbook.gitlab.com/handbook/product/ux/category-maturity/competitor-comparison/'} and a CM Scorecard score of at least 3.63 for the identified JTBDs when tested with external users. Suitable to migrate from existing tools. Usability status has a grade of B average.
%tr
  %td.maturity-cell
    = image_tag "/images/maturity/complete.svg"
  %td
    #{content_tag(:b, "Complete")}: Market and customer expectations shift over time. Because of that, this category is proactively baselined and rescored as we identify those shifts. Such an approach allows us to quickly react by identifying what we need to adjust. GitLab scores best-in-class applying the competitive add-on evaluation. CM score of at least 3.95 for the JTBD (and related JTBDs, if applicable) when tested with external users. Usability status has a grade of A average.
